<div class="w-full font-poppins px-[5%] lg:px-[10rem] lg:gap-[4rem] mb-[5rem] h-[96vh] pt-[4vh] min-h-fit">
    <div class="flex flex-col items-center">
        <div class="mb-[9rem] placeholder:first-line:">
            <p class="text-[#555555] text-center">En Apprendre Plus</p>
            <h1 class="text-[2rem] font-bold lg:text-[3rem]">Sur Moi</h1>
        </div>
        <div class="flex flex-col items-center lg:flex-row lg:gap-[4rem]">
            <img src="../../../assets/images/IMG_5320.JPG" class="w-52 h-52 object-cover opacity-70 rounded-[2rem] lg:w-[25rem] mb-[2rem] lg:mb-0 lg:h-[25rem]" alt="">
            <div class="flex flex-1 flex-col">
                <div class="flex gap-6 mb-[2rem]">
                    <div class="flex-1 flex flex-col items-center border border-[#a3a3a3] rounded-[2rem] p-[1.2rem] sm:p-[1.5rem]">
                        <img src="../../../assets/icons/experience.png" class="w-8 h-8" alt="">
                        <h3 class="font-bold text-[1.17rem]">Experience</h3>
                        <p class="text-center text-[#555555]">Développeur junior
                    </div>
                    <div class="flex-1 flex flex-col items-center border border-[#a3a3a3] rounded-[2rem] p-[1.2rem] sm:p-[1.5rem]">
                        <img src="../../../assets/icons/education.png" class="w-8 h-8" alt="">
                        <h3 class="font-bold text-[1.17rem]">Formation</h3>
                        <p class="text-center text-[#555555]">Bac +5 (fin novembre 2025) <br>EPF Engineering School</p>
                    </div>
                </div>
                <p class="text-justify text-[#555555]">Bonjour, je suis Alexis et je suis passionné par le développement web. Je suis issu d'une formation d'ingénieur généraliste, où j'ai pu toucher à énormément de choses, mais ces dernières années, je me suis découvert une passion pour le code et plus précisément pour le web. Ce que j'aime, c'est la liberté de pouvoir concrétiser rapidement une idée avec seulement un ordinateur, tout en restant chez soi. J'aime également le sport, et l'une de mes activités préférées est de voyager. J'ai récemment été en Corée du Sud et au Japon, et maintenant, je n'ai qu'une envie : y retourner.</p>
            </div>
        </div>
    </div>
</div>
