<div class="w-full mb-[10rem] font-poppins lg:flex lg:items-center h-[80vh] min-h-fit lg:justify-center">
    <div class="flex flex-col items-center gap-10 pt-10 lg:flex-row lg:justify-center lg:gap-20">
        <div class="flex-1 flex items-center lg:flex-none">
            <img src="../../../assets/images/Alexis Guerin 34.jpg" class="w-52 h-52 object-cover object-top rounded-full border-[#a3a3a3] border-[0.04rem]  lg:w-[25rem] lg:h-[25rem]" alt="">
        </div>
        <div class="flex-1 flex-col flex items-center lg:flex-none">
            <p class="font-bold text-[#555555]">Bonjour, je suis</p>
            <h1 class="text-[2rem] font-bold font-poppins lg:text-[3rem]">Alexis Guerin</h1>
            <p class="text-xl mb-4 font-bold text-[#555555] lg:text-[1.75rem]">Développeur web</p>
            <div class="flex gap-4">
                <button class="bg-white p-4 rounded-[2rem] text-[0.85rem] w-[8.5rem] font-semibold font-[arial] border-[0.1rem] border-[#555555] hover:bg-[#1d1d1d] hover:text-white transition-all">Télécharger CV</button>
                <a [routerLink]="[]" fragment="contact" class="bg-[#353535] text-[0.85rem] w-[8.5rem] p-4 rounded-[2rem] text-white font-[arial] font-semibold border-[0.1rem] border-[#555555] hover:bg-[#1d1d1d] transition-all text-center cursor-pointer">Info Contact</a>
            </div>
            <div class="mt-4 flex gap-4">
                <a href="https://github.com/AlexisAG11" target="_blank">
                    <img src="../../../assets/images/github.png" alt="" class="h-8 cursor-pointer">
                </a>
            </div>
        </div>
    </div>
</div>
