<div class="w-full font-poppins px-[5%] lg:px-[10rem] lg:gap-[4rem] mb-[5rem] h-[60vh] min-h-fit">
    <div class="flex flex-col items-center">
        <div class="">
            <h1 class="text-[2rem] font-bold lg:text-[3rem]">Contactez moi</h1>
        </div>
        <div class="mt-[2rem] flex flex-col gap-2 lg:flex-row lg:w-[45rem]">
            <div class="flex items-center p-[0.75rem] gap-4 border border-[#a3a3a3] rounded-[1rem] lg:flex-1">
                <img src="../../../assets/images/email.png" alt="" class="w-10 h-10">
                <a class="decoration-white text-colo transition-all hover:text-[#808080] hover:underline hover:underline-offset-[1rem] hover:decoration-[rgb(185,185,185)]">{{mailValue}}</a>
            </div>
            <div class="flex gap items-center p-[0.75rem] gap-4 border border-[#a3a3a3] rounded-[1rem] lg:flex-1">
                <div class="w-[2.5rem] h-[2.5rem] flex justify-center items-center">
                    <img src="../../../assets/icons/icons8-téléphone-50.png" alt="" class="w-8 h-8">
                </div>
                <a class="decoration-white text-colo transition-all hover:text-[#808080] hover:underline hover:underline-offset-[1rem] hover:decoration-[rgb(185,185,185)]">+33 7 50 45 76 17</a>
            </div>
        </div>
    </div>

</div>
